<div class="col-lg-8 offset-lg-2">
  <h1 class="row bg-dark text-light p-3">
    <div class="col-lg-6">Commandes</div>
    <div class="col-lg-6 text-right">Prix total: {{ orderPrice() | currency:"EUR" }}</div>
  </h1>
  <div class="my-2 row">
    <div class="form-group col-lg-3">
      <label for="name">Nom</label>
      <input [(ngModel)]="line.name" id="name" class="form-control" />
    </div>
    <div class="form-group col-lg-3"><label for="quantity">Quantité</label>
      <input [(ngModel)]="line.quantity" id="quantity" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
      <label for="price">Prix</label>
      <input [(ngModel)]="line.price" id="price" class="form-control" />
    </div>
    <div class="form-group col-lg-3">
      <span class="m-3"> {{ line.totalPrice() | currency:"EUR" }} </span><br>
      <button class="btn btn-info m-1 " (click)="addLine(line)">Ajouter</button>
    </div>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td>Id</td>
          <td>Nom de L'article</td>
          <td>Quantite</td>
          <td>Prix unitaire</td>
          <td>Prix Total</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of lines">
          <td>{{line.id}}</td>
          <td>{{line.name}}</td>
          <td>{{line.quantity}}</td>
          <td>{{line.price}}</td>
          <td>{{line.totalPrice()|currency:"EUR"}}</td>
          <td>
            <span class="btn btn-danger btn-sm" (click)="removeLine(line.id)">Supprimer</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>